/* Navigation bar */

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: wheat;
}


.navbar-right,.navbar-left {
    display: flex;
    align-items: center;
}
.website-name-icon {
    margin-left: 50px;
    font-weight: 600;
    font-size: 50px;
}
.navbar-left> * {
    padding: 5px;
}
.navbar-right {
    margin-right: 50px;
}

.navbar-right > * {
    padding: 5px;
    margin-right: 5px;
}




